* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

/* header section */
header {
    background-color: #1F2937;
    color: #F9FaF8;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;

}


ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;


}

/*intro section*/

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FaF8;
    padding: 100px;
    gap: 50px;
}

.pitch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    
}

img {
    width: 300px;  

}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

.signup {
    border-radius: 10px;
    padding: 10px 30px;
    background-color: #3882f6;
    color: #F9FaF8;
    display: flex;
    align-self: start
    

}


/*info section*/

.info {
    padding: 0px 100px 100px 100px;
    
}

.box-img {
    border: solid #3882f6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}


.box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

figcaption {
    color: #1f2937;
    font-size: 18px;
    font-weight: lighter;
    display: flex;
    justify-self: center;
}

h3 {
    font-size: 36px; 
    color: #1f2937;
    font-weight: 900; 
    text-align: center;
}

/*quote section*/

.quote {
    background-color: #e5e7eb;
    padding: 80px 150px;
}

.p-quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    
}

.quote-footer {
    text-align: right;
}

/*Call to action section*/

.call-to-action {
    background-color: #3882f6;
    color: #F9FaF8;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px 100px;
    padding: 30px 60px;
    gap: 50px;

}

.cta-header {
    color: #F9FaF8;
    text-align: start;
}


.cta-container > p {
    margin: 0px;
    font-weight: lighter;
}

h4 {
    margin: 0px;
    
}

.signup-bottom {
    background-color: #3882f6;
    color: #F9FaF8;
    border-color: #F9FaF8;
    border-radius: 10px;
    border-style: solid;
    display: flex;
    align-self: center;
    padding: 10px 20px;
}

/*footer section*/

.copyright {
    background-color: #1F2937;
    color: #F9FaF8;
    text-align: center;
    padding: 50px;
}